
 *{
     margin: 0;
     border: 0;
 }
 .image-background{
     background-image: url(../image/p1.jpg);
     height:250vh;
     width: 100vw;
     background-size: cover;
     position: relative;
 }
 nav{
   padding-left: 40%;
   column-gap: 2px;
   
 }
 nav a {
     color: red;
 }
 .image-text{
     display: flex;
     justify-content: center;
     padding-top: 20%;   
     font-size: xx-large;  
 }
 #t-name , h2{
     display: flex;
     justify-content: center;
 }

 #p-text{
     width:max-content;
     height: 50%;
     
     font-style: italic;
     color: rgb(246, 237, 185);
     /* border: 2px solid rgb(83, 83, 83); */
 }
 #p-text h3{
     padding-left: 140px;
 }
 

 /* .image-text ,h3,h2{
     font-style: italic;
 } */
 .order-img{
     width:auto;
     background-color:black;
     padding-top: 20px;
     margin-top: 40px;
     border:2px solid burlywood;
     
 }
 #text-order{
     display: flex;
     justify-content: center;
     font-size: large;
     font-weight: 500;
     
 }
 .order-img , p{
     color: whitesmoke;
     padding-top: 90px;
     padding-right: 30px;
     font-size: large;
     
 }
 /* .foot-name{
     float:right;
     width:70%;
     margin-top: 10px; 
     padding-top: 20px; 
     height:max-content;
     text-align: center;
     background-color: rgba(0,0,0,0.7);
 } */